---
import type { MarkdownHeading } from "astro";
import BaseLayout from "../../layouts/base.astro";

export async function getStaticPaths() {
	const allPosts = import.meta.glob<true, any, any>("../posts/*.md", { eager: true });
	const posts: Record<string, MarkdownHeading[]> = {};

	for (const key in allPosts) {
		for (const tag of allPosts[key].frontmatter.tags) {
			posts[tag] ||= [];
			posts[tag].push(allPosts[key]);
		}
	}

	return Object.entries(posts).map(([tag, posts]) => ({
		params: { tag },
		props: { posts },
	}));
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
	<p>Posts tagged with {tag}</p>
	<ul>
		{
			posts.map((post: any) => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
