---
import Navigation from "./navigation.astro";
import Menu from "./menu.astro";
import ThemeIcon from "./theme-icon.astro";
---

<header>
	<nav>
		<div>
			<Menu />
			<ThemeIcon />
		</div>
		<Navigation />
	</nav>
</header>
